<div class="container-fluid">
    <h3>Todo Lists</h3>
    <div class="alert alert-success" *ngIf="message">{{message}}</div>
    <div class="container">
        <table class="table table-striped">
            <caption> My todo's</caption>
            <thead class="table-dark">
                <tr>
                    <th>Description</th>
                    <th>Target Date</th>
                    <th>Is Completed?</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let todo of todos">
                    <td>{{todo.description}}</td>
                    <td>{{todo.targetDate | date}}</td>
                    <td class=task>
                        <p>{{todo.done}}</p>
                    </td>
                    <td><button (click)="updateTodo(todo.id)" class="btn btn-success">Update</button></td>
                    <td><button class="btn btn-warning" (click)="open(content,todo.id)">Delete</button></td>
                </tr>
            </tbody>

        </table>
        <div class="row">
            <button (click)="addTodo()" class="btn btn-success ms-3 col-1">Add</button>
        </div>

        <ng-template #content let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Delete Confirmation</h4>
                <button type="button" class="btn btn-close" (click)="modal.dismiss('Cross click')">
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Close button')">Close</button>
                <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Save</button>
            </div>
        </ng-template>
    </div>

    <footer class="footer bg-dark">
        <div class="social">
            <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
            <a href="#"><i class="fab fa-youtube fa-2x"></i></a>
            <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
        </div>
        <p>Copyright &copy; 2021 - Acer</p>
    </footer>
</div>