<div class="container-fluid">
    <div class="container alert alert-danger" *ngIf="welcomeErrorMessageFromServer">
        <h5>Exception occurred - {{welcomeErrorMessageFromServer}}</h5>
    </div>

    <!-- <div class="display-6 text-start ms-5">Hi {{name}}!</div> -->

    <section class="welcome-section">
        <div class="container-section">
            <div id="content">
                <h2 class="display-3">Welcome to Acer </h2>
                <p class="display-6"> Manage your Todo activities</p>
                <div class="p-section">
                    <p class="lead">Easy way to create, update and delete your to-do lists. Stay on track with your
                        tasks</p>
                    <p class="lead">Organize your tasks by maintaining a list</p>
                    <p class="lead">Start easily managing your to-do list by clicking on below button</p>
                </div>
                <div class="a-layout">
                    <a class="btn btn-success" (click)="getWelcomeMessageWithParameter(content)">Get Welcome message</a>
                    <a routerLink="/todos" class="btn btn-secondary">Go to Todos</a>
                </div>
            </div>
            <div class="img-section">
                <img src="/assets/task-side-image.jpg" alt="task image" class="img-layout">
            </div>
        </div>
    </section>

    <div class="container row justify-content-evenly">
        <div class="col-sm-3 card">
            <img class="rounded" src="/assets/ShoppingCart.jpg" class="card-img-top" alt="...">
            <h6 class="card-title"> Your message is - {{message}}</h6>
            <p class="card-text">Click here to get a customized message</p>
            <button (click)="getWelcomeMessageWithParameter(content)" class="btn btn-success">Get welcome mesage</button>
        </div>
        <div class="col-sm-3 card">
            <img class="rounded" src="/assets/todo.jpg" class="card-img-top" alt="...">
            <h6 class="card-title"> Todos collection</h6>
            <p class="card-text">Manage the todos here</p>
            <div class="m-1"><button class="btn btn-primary" routerLink="/todos">Go to Todos</button></div>
        </div>
    </div>
    
    <footer class="footer bg-dark">
        <div class="social">
            <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
            <a href="#"><i class="fab fa-youtube fa-2x"></i></a>
            <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
        </div>
        <p>Copyright &copy; 2021 - Acer</p>
    </footer>

    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Welcome message</h4>
            <button type="button" class="btn btn-close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            Your welcome message from Spring boot server is: {{welcomeMessageFromServer}}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="modal.dismiss('Close button')">Close</button>
        </div>
    </ng-template>

</div>