/* You can add global styles to this file, and also import other style files */
@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css);
  
html, body {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;   
}



/* .custom-flex {
	display: flex; 
	 align-items: center;
	flex-direction: column;
	height: 100vh;
    position:relative; 
} */

app-root {
    display: block;
    height: 100%;
  }

  
.custom-container {
    display:flex; 
    width:100%;
    height:100%;
    justify-content: center;
    align-items: center;        
}

.custom-container .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    color: #fff;
}

.custom-container .content button {
    padding: 10px 30px;
}

.custom-container .content h1 {
    font-size: 55px;
}

.custom-container .content p {
    font-size: 23px;
    max-width: 600px;
    margin: 20px 0 30px;
}

.custom-modal-box {    
    min-height: 250px;
    width: 100%;
    max-width: 500px;
    background: rgba(227, 227, 227, 0.9);
    border-radius: 5px;
    padding: 2px;
    padding-bottom: 15px;     
}

.title-text {
    text-align: center;    
}

.color-blue {
    color: steelblue;
}

.custom-h2 {
    display: inline-block;
    margin-left: 10px;
    font-weight: 300;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.custom-h2 .title-font {
    font-family: Arial, Helvetica, sans-serif;
}

.faded-bg{
    display:flex;
    flex-direction: column;
    overflow: hidden;
    background: url("/assets/task-management.jpg") no-repeat center center/cover;   
    
}

.faded-bg * {
    z-index: 10;
}

.faded-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

.bg-dark {
    background: #333;
    color: #fff;
 }